@import '../../assets/palette'

.cartBody
    display: flex
    align-items: center

    .quantitySection
        display: flex
        position: relative
        background-color: $grayishblue-light
        border-radius: 10px
        padding-inline: 16px
        padding-block: 8px
        align-items: center
        height: 24px
        width: 64px

        .countNum
            padding-inline: 28px
            text-align: center
            margin: 32px
            position: absolute
            left: -16px

        .countBtn
            padding-inline: 8px
            position: absolute
            cursor: pointer
            &.minus
                left: 8px
                bottom: 12px

            &.plus
                right: 8px
                top: 10px
            img
                height: auto !important
                width: 16px !important
                align-self: center
                

    .cartBtn
        margin-inline: 32px
        background-color: $orange
        color: $orange-pale
        padding-inline: 16px
        padding-block: 8px
        border-radius: 5px