@import '../../assets/palette'

.cartBody
    display: flex
    align-items: center

    .quantitySection
        display: flex
        background-color: $grayishblue-light
        border-radius: 20%
        padding-inline: 16px
        padding-block: 4px
        align-items: center

        p
            padding-inline: 16px
            text-align: center
            margin: 32px

        .countBtn
            padding: 8px
            img
                height: auto !important
                width: 16px !important
                align-self: center
                

    .cartBtn
        margin-inline: 32px
        background-color: $orange
        color: $orange-pale
        padding-inline: 16px
        padding-block: 8px
        border-radius: 5px