@import '../../assets/palette'

.button
    appearance: none
    border: none
    background-color: rgba(0,0,0,0)
    &:hover
        cursor: pointer

    &.navbar
        color: $grayishblue !important

    &.icon
    
    &.primary

    &.picture
        img
            border-radius: 20px
            height: 100%
            width: auto