@import '../../assets/palette'
@import '../../utils/mediaQuery.sass'

.button
    appearance: none
    border: none
    background-color: rgba(0,0,0,0)
    &:hover
        cursor: pointer

    &.navbar
        color: $grayishblue !important
    
    &.primary
        position: relative
        .btnImg
            position: absolute
            top: 8px
    &.picture
        img
            border-radius: 20px
            height: 100%
            width: auto
            &:hover
                cursor: pointer

    &.normal
        background-color: $orange
        display: flex
        align-items: center
        justify-content: space-between
        border-radius: 5px
        padding: 8px
        max-width: 128px
        width: 100%
        color: $white
        @include mobile
            width: 100% !important
            max-width: 100% !important
            justify-content: center
        

    .button
        color: $white