@import '../../assets/palette'
@import '../../utils/mediaQuery.sass'
    
.navBar
    display: flex
    justify-content: space-around
    border-bottom: 2px solid
    border-color: $grayishblue-light

    .leftBox
        display: flex
        align-items: center

        .buttonBox
            margin-inline: 8px

            .button
                margin: 4px
                padding: 0px
        
        .menuButton
            display: none

    .rightBox
        display: flex
        padding: 16px
        align-items: center
        
        .cartButton
            margin: 16px
            
    .buttons
        padding: 32px
        margin: 64px

    @include mobile
        
        top: 0px
        display: flex
        justify-content: space-between
        background-color: $white
        width: 430px
        align-items: center
        height: 5%
        padding: 8px

        .leftBox
            margin-inline: 16px
            align-items: center

            .buttonBox
                display: none

            .logo
                height: 28px
                width: auto

            .menuButton
                display: block
                margin-right: 8px
                img
                    height: 24px

        .rightBox
            .cartButton
                img
                    height: 32px !important
                    width: auto !important

        