@import '../../assets/palette'
@import '../../utils/mediaQuery.sass'

.mainPic
    height: 422px !important
    width: 422px !important

.thumbs
    display: flex
    justify-content: space-between
    margin-block: 8px
    height: 96px
    width: 96px

    img
        height: 96px
        width: 96px
        border-radius: 20%

    .thumbnails
        &:hover
            cursor: pointer
        appearance: none
        margin-inline: 6px
        &:checked + img
            border: 3px solid
            border-color: $orange
            border-radius: 20%
            opacity: 0.7
