@import '../../assets/palette'

.mainPic
    height: 422px !important
    width: 422px !important

.thumbs
    display: flex
    justify-content: space-between
    margin-block: 32px
    height: 96px
    width: 96px

